APP_NAME=PulseOps Platform
APP_ENV=development

HOST=0.0.0.0
PORT=8000

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=6379
REDIS_TTL=600

SQS_QUEUE_NAME=
SQS_QUEUE_URL=

AWS_REGION=ap-south-1

LOG_LEVEL=INFO
POLL_INTERVAL=5